name: "Build and run Docker in EC2"

on:
  push:
    branches:
      - main

jobs:
  deploymycode:
    name: "Deploy my code in Docker container in EC2"
    runs-on: ubuntu-latest
    env:
      SERVER_IP: ${{ vars.SERVER_IP }}
      SERVER_USER: ${{ vars.SERVER_USER }}
      DOCKER_HUB_USER: ${{ vars.DOCKER_USER }}
      DOCKER_HUB_REPO: ${{ vars.DOCKER_REPO }}
    
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: "Setup TAG"
        run: |
          echo "TAG=latest" >> $GITHUB_ENV
      
      - name: "Setup Docker Buildx"
        uses: docker/setup-buildx-action@v3

      - name: "Login to DockerHub"
        run: |
          echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u $DOCKER_HUB_USER --password-stdin
      
      - name: "Build Docker Image"
        run: |
          docker build -t "$DOCKER_HUB_USER/$DOCKER_HUB_REPO:$TAG" .
      
      - name: "Push Docker Image"
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
          chmod 600 ~/.ssh/config
        env:
          SSH_KEY64: ${{ secrets.SSH_KEY64 }}

      - name: "Copy Docker-Compose file"
        run: |
          scp -i mykey.pem ./docker-compose.yaml $SERVER_USER@SERVER_IP:~/
      
      - name: "Make SSH Conenction, pull and run Docker Image"
        run: |
          ssh -i mykey.pem $SERVER_USER@$SERVER_IP "
          docker compose --env-file ./.env/dev_env pull
          docker compose --env-file ./.env/dev_env down
          docker compose --env-file ./.env/dev_env up -d
          "



